apturl==0.5.2
chardet==2.3.0
command-not-found==0.3
defer==1.0.6
language-selector==0.1
pexpect==4.0.1
pika==0.10.0
Pillow==3.1.2
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1
python-debian==0.1.27
python-systemd==231
reportlab==3.3.0
requests==2.9.1
six==1.10.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
virtualenv==15.0.1
xkit==0.0.0
